
@{
    ViewBag.Title = "AddCustomer";
}

<h2>AddCustomer</h2>
<form action="ViewCustomer">
    <p>Name: <input type="text" name="Name" /></p>
    <p>Telephone: <input type="text" name="Telephone" /></p>
    <input type="submit" value="Add Customer"/>
</form>