@*Provide path of the Models for the Customer*@
@model HelloMVC_ii.Models.Customer
@{
    ViewBag.Title = "ViewCustomer";
}

<h2>ViewCustomer</h2>
<h4>Name</h4>
@Model.Name

<h5>Telephone</h5>
@Model.Telephone